body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

#userProfile {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#profilePicContainer {
  margin-bottom: 20px;
}

#profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

#profilePicInput {
  display: block;
  margin: 0 auto;
}

#userProfile p {
  margin-bottom: 10px;
  color: #666;
}

#userProfile strong {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

#userProfile label {
  display: block;
  margin-top: 10px;
  color: #333;
  text-align: left;
}

#userProfile input[type="text"],
#userProfile input[type="email"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  margin: 0 auto 20px auto;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}
